<div class="rounded-lg bg-white p-5 shadow-sm">
  <img
    *ngIf="imagen; else imagenPlaceHolder"
    [src]="imagen"
    class="mb-5 h-32 w-full cursor-pointer object-contain"
    alt="Imagen"
  />
  <ng-template #imagenPlaceHolder>
    <div
      class="round mb-5 flex h-32 items-center justify-center bg-gray-400 text-lg font-bold text-white"
    >
      IMAGEN
    </div>
  </ng-template>
  <div class="flex flex-col">
    <div class="flex justify-between gap-2">
      <span class="text-lg font-bold">{{ nombre }}</span>
      <app-tooltip [opciones]="opcionesTooltip">
        <i
          *ngIf="isEditable"
          class="fa-solid fa-ellipsis-vertical mt-1 p-1 text-gray-400"
        ></i>
      </app-tooltip>
    </div>
    <!-- <span class="block text-base font-bold mb-2">S/ 236</span> -->
    <span class="mb-1 block text-sm text-gray-500">Stock: {{ stock }}</span>
    <span class="mb-2 block text-sm font-normal"
      >Dimensiones: {{ dimensiones }}</span
    >
    <a
      class="w-full text-right text-sm font-medium"
      [ngClass]="
        isLinked
          ? 'cursor-pointer text-indigo-600 '
          : 'cursor-not-allowed text-gray-500'
      "
      [routerLink]="
        isLinked
          ? isEditable
            ? '/gestion/detalle/12345'
            : '/catalogo/detalle/12345'
          : null
      "
      >Ver más</a
    >
  </div>
</div>
