<!-- Header -->
<app-header title="Gestión de Productos">
  <div class="flex h-full flex-1 items-center justify-between">
    <div class="rounded-full bg-gray-100 px-3 py-2">
      <i class="fa-solid fa-search mr-2 text-gray-400"></i>
      <input
        type="search"
        placeholder="Buscar"
        class="w-64 bg-transparent focus:outline-none"
      />
    </div>
    <button
      class="flex items-center rounded-md bg-indigo-600 p-3 font-semibold shadow-md"
    >
      <i class="fa-solid fa-plus mr-2 text-gray-100"></i>
      <a class="text-sm text-gray-100" routerLink="/gestion/agregar">
        Agregar Producto</a
      >
    </button>
  </div>
</app-header>
<!-- Container -->
<div class="h-[calc(100dvh-5rem)] overflow-y-auto">
  <!-- Grid -->
  <div
    class="grid-container grid-rows-[repeat(auto-fit,_minmax(min-content,_1px)) p-5"
  >
    <product-card
      imagen="assets/images/juntahomocinetica.webp"
      nombre="Junta homocinética"
      stock="40 unidades"
      dimensiones="1.575x2.173x0.354"
      [isEditable]="true"
      [isLinked]="true"
    />
    <product-card *ngFor="let _ of dumparray" [isEditable]="true" />
  </div>
</div>
