<main class="flex h-dvh">
  <!-- LeftBar -->
  <aside
    class="z-10 flex h-full flex-col border-r border-gray-300 shadow-[rgba(0,0,0,0.10)_5px_1px_14px_-3px]"
  >
    <div
      class="flex h-20 w-full items-center gap-10 border-b border-gray-300 px-10"
    >
      <img src="assets/images/logo.png" alt="WRetenes" class="h-6" />
    </div>
    <div
      class="flex w-full flex-1 flex-col items-center border-b border-gray-300 p-5"
    >
      <ul class="flex flex-1 flex-col gap-4">
        <li
          routerLink="catalogo"
          routerLinkActive="font-semibold bg-gray-200 rounded"
          class="cursor-pointer p-2 text-[1rem]"
        >
          <i
            routerLinkActive="text-indigo-700"
            class="fa-solid fa-book mr-2 text-gray-500"
          ></i>
          Catálogo
        </li>
        <li
          routerLink="gestion"
          routerLinkActive="font-semibold bg-gray-200 rounded"
          class="cursor-pointer p-2 text-[1rem]"
        >
          <i
            routerLinkActive="text-indigo-700"
            class="fa-solid fa-pen mr-2 text-gray-500"
          ></i>
          Gestión de Productos
        </li>
        <li
          routerLink="ventas"
          routerLinkActive="font-semibold bg-gray-200 rounded"
          class="cursor-pointer p-2 text-[1rem]"
        >
          <i
            routerLinkActive="text-indigo-700"
            class="fa-solid fa-file-waveform mr-2 text-gray-500"
          ></i>
          Ventas
        </li>
        <li
          routerLink="facturas"
          routerLinkActive="font-semibold bg-gray-200 rounded"
          class="cursor-pointer p-2 text-[1rem]"
        >
          <i
            routerLinkActive="text-indigo-700"
            class="fa-solid fa-file-invoice-dollar mr-2 text-gray-500"
          ></i>
          Facturas
        </li>
      </ul>
      <i
        class="fa-solid fa-angles-left cursor-pointer text-sm text-gray-500"
      ></i>
    </div>
    <div class="flex w-full flex-col items-center p-5">
      <span class="cursor-pointer p-2">
        <i
          class="fa-solid fa-arrow-right-from-bracket mr-2 text-[1rem] text-gray-400"
        ></i>
        Cerrar sesión
      </span>
    </div>
  </aside>
  <div class="flex-1 bg-gray-100">
    <router-outlet></router-outlet>
  </div>
</main>
